<mat-nav-list>
    <ng-container *ngFor="let item of menuItems">
      <mat-list-item *ngIf="!item.subItems; else subItemsBlock" [routerLink]="item.link">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </mat-list-item>
      <ng-template #subItemsBlock>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.name }}</span>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let subItem of item.subItems" [routerLink]="subItem.link">
              <mat-icon>{{ subItem.icon }}</mat-icon>
              <span>{{ subItem.name }}</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </ng-template>
    </ng-container>
  </mat-nav-list>