<div class="basic-container">
  <mat-toolbar class="menu-bar mat-elevation-z1">
    <div class="logo-signup1"></div>
    <button class="actionBtn" mat-button [matMenuTriggerFor]="menu01">Menu 01</button>
    <button class="actionBtn" mat-button [matMenuTriggerFor]="menu02">Menu 02</button>
    <button class="actionBtn" mat-button [matMenuTriggerFor]="menu03">Menu 03</button>
    <button class="actionBtn" mat-button (click)="logout()">Logout</button>

  <mat-menu #menu01="matMenu">
    <button class="actionBtn" mat-menu-item [matMenuTriggerFor]="submenu01">Sub Menu 01</button>
    <button class="actionBtn" mat-menu-item [matMenuTriggerFor]="submenu02">Sub Menu 02</button>
  </mat-menu>

  <mat-menu #submenu01="matMenu">
    <button class="actionBtn" mat-menu-item [matMenuTriggerFor]="fish">Sub sub Menu 01</button>
    <button class="actionBtn" mat-menu-item [matMenuTriggerFor]="amphibians">Sub sub Menu 01</button>
    <button class="actionBtn" mat-menu-item [matMenuTriggerFor]="reptiles">Sub sub Menu 01</button>
    <button class="actionBtn" mat-menu-item>Birds</button>
    <button class="actionBtn" mat-menu-item>Mammals</button>
  </mat-menu>

  <mat-menu #submenu02="matMenu">
    <button class="actionBtn" mat-menu-item>Insects</button>
    <button class="actionBtn" mat-menu-item>Molluscs</button>
    <button class="actionBtn" mat-menu-item>Crustaceans</button>
    <button class="actionBtn" mat-menu-item>Corals</button>
    <button class="actionBtn" mat-menu-item>Arachnids</button>
    <button class="actionBtn" mat-menu-item>Velvet worms</button>
    <button class="actionBtn" mat-menu-item>Horseshoe crabs</button>
  </mat-menu>

  <mat-menu #fish="matMenu">
    <button class="actionBtn" mat-menu-item>Baikal oilfish</button>
    <button class="actionBtn" mat-menu-item>Bala shark</button>
    <button class="actionBtn" mat-menu-item>Ballan wrasse</button>
    <button class="actionBtn" mat-menu-item>Bamboo shark</button>
    <button class="actionBtn" mat-menu-item>Banded killifish</button>
  </mat-menu>

  <mat-menu #amphibians="matMenu">
    <button class="actionBtn" mat-menu-item>Sonoran desert toad</button>
    <button class="actionBtn" mat-menu-item>Western toad</button>
    <button class="actionBtn" mat-menu-item>Arroyo toad</button>
    <button class="actionBtn" mat-menu-item>Yosemite toad</button>
  </mat-menu>

  <mat-menu #reptiles="matMenu">
    <button class="actionBtn" mat-menu-item>Banded Day Gecko</button>
    <button class="actionBtn" mat-menu-item>Banded Gila Monster</button>
    <button class="actionBtn" mat-menu-item>Black Tree Monitor</button>
    <button class="actionBtn" mat-menu-item>Blue Spiny Lizard</button>
  </mat-menu>



  <mat-menu #menu02="matMenu">
    <button class="actionBtn" mat-menu-item [matMenuTriggerFor]="submenu03">Sub Menu 03</button>
    <button class="actionBtn" mat-menu-item [matMenuTriggerFor]="submenu04">Sub Menu 04</button>
  </mat-menu>

  <mat-menu #submenu03="matMenu">
    <button class="actionBtn" mat-menu-item>Sub sub Menu 01</button>
    <button class="actionBtn" mat-menu-item >Sub sub Menu 01</button>
    <button class="actionBtn" mat-menu-item >Sub sub Menu 01</button>
  </mat-menu>

  <mat-menu #submenu04="matMenu">
    <button class="actionBtn" mat-menu-item>Birds</button>
    <button class="actionBtn" mat-menu-item>Mammals</button>
  </mat-menu>

  <mat-menu #menu03="matMenu">
    <button class="actionBtn" mat-menu-item>Sub Menu 05</button>
    <button class="actionBtn" mat-menu-item>Sub Menu 06</button>
  </mat-menu>
  </mat-toolbar>  
</div>
