
 .logo-signup {
    background: transparent url(../assets/Images/logo.png) no-repeat;
    height: 30px;
    width: 100%;
    background-size: auto 30px;
    margin-right: 0;
    background-position: center;
  }